{%extends 'webapp/index.html'%} {%load static%} {% block page %}

<div class="container pt-3">

    <div class="row">
        <div class="col-lg-6 col-md-6 text-center" style="background-color:#671314">
            <img src="{%static 'webapp/forex_icon/6i.jpg'%}" style="width:50px" />

        </div>
        <div class="col-lg-6 col-md-6 pt-2" style="background-color:#edb042">
            <a href="https://clients.6itrade.com/en/register?cmp=1a2t0z8z&refid=1010" target="_blank">
                <h4 class="text-center text-dark">Register</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered mt-3" style="border-collapse:separate;border-spacing:0 1px;">

            <tbody>
                <tr>
                    <td class="txt-primaryk text-white">Company Name</td>
                    <td>6i Trade</td>
                </tr>
                <tr class="mt-2">
                    <td class="txt-primaryk text-white">Head Office</td>
                    <td>Govant Building, Port Vila, PO BOX 1276, Vanuatu</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">CashBack Rate</td>
                    <td> 5.1 $ Per lot</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">
                        Year of creation
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Regulation</td>
                    <td>VFSC 40374</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Minimum Funding</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Spreads</td>
                    <td>Spreads from 0.5 Pips</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Minimum Trade Size</td>
                    <td>0.01</td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Financing methods</td>
                    <td><img src="{%static 'webapp/psp.png'%}" style="width:495px" /></td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white">Company limitations</td>
                    <td>6iTrade does not provide services for United States residents and/or citizens.</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Islamic Accounts</td>
                    <td>No</td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Accounts for money managers</td>
                    <td>Yes</td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white">Trading platforms</td>
                    <td>MT4 Desktop, MT4 Mobile</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Leverage</td>
                    <td>0.25</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Offices</td>
                    <td>Vanuatu</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Type </td>
                    <td>STP</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Execution type</td>
                    <td>
                        Market Execution
                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Hedging</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Accepts US Clients</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Phone</td>
                    <td>+357 25123322</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">E-mail</td>
                    <td><a>info@6itrade.com</a></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Languages</td>
                    <td>
                        <img src="{%static 'webapp/cn.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/en.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/hi.svg'%}" style="width:25px" />

                    </td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white">Other trading instruments</td>
                    <td>FOREX, METALS, CRYPTOS, INDICES & ENERGIES</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white">Account Types</td>
                    <td>6iTrade Spread, 6itrade Commission</td>
                    <tr>
                        <td class="txt-primaryk text-white">Minimum Deposits</td>
                        <td>No</td>
                    </tr>


            </tbody>
        </table>
    </div>
</div>
{%endblock%}