{%extends 'webapp/index.html'%} {%load static%} {% block page %}

<div class="container pt-3">

    <div class="row">
        <div class="col-lg-6 col-md-6 text-center" style="border:1px solid #1180f7">
            <img src="{%static 'webapp/info-logo/bdswiss.png'%}" style="width:100px" />

        </div>
        <div class="col-lg-6 col-md-6 pt-3" style="background-color:#1180f7">
            <a href="https://dashboard-global.bdswiss.com/register?campaign=1341&p1=&p2=5153&p3=4b0n4b8y" target="_blank">
                <h4 class="text-center text-white text-uppercase">Register</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered mt-3" style="border-collapse:separate;border-spacing:0 1px;">

            <tbody>
                <tr>
                    <td class="txt-primaryk text-white w-25">Company Name</td>
                    <td>BDSwiss</td>
                </tr>
                <tr class="mt-2">
                    <td class="txt-primaryk text-white w-25">Head Office</td>
                    <td>
                        Mont Fleuri, Mahe, Seychelles
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">CashBack Rate</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">
                        Year of creation
                    </td>
                    <td>
                        2016
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Regulation</td>
                    <td>
                        NFA , CySEC, FSC, BaFIN, FSA
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Funding</td>
                    <td>
                        100 USD
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Spreads</td>
                    <td>
                        1.5
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Trade Size</td>
                    <td>
                        0.01 lots
                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Financing methods</td>
                    <td><img src="{%static 'webapp/psp.png'%}" style="width:495px" /></td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Company limitations</td>
                    <!-- <td> Please note that minimum deposit thresholds are calculated as fixed amounts regardless of base account currency. For example, the minimum Classic Account deposit threshold will always remain 100EUR, 100USD or 100GBP.Minimum first deposit
                        amounts may differ depending on your country of residence and whether you have accessed our website through a third party or using a referral link</td> -->
                    <td>
                        Please note that minimum deposit thresholds are calculated as fixed amounts regardless of base account currency. For example, the minimum Classic Account deposit threshold will always remain 100EUR, 100USD or 100GBP.Minimum first deposit amounts may differ
                        depending on your country of residence and whether you have accessed our website through a third party or using a referral link
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Islamic Accounts</td>
                    <td>
                        Yes
                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accounts for money managers</td>
                    <td></td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Trading platforms</td>
                    <td>
                        MT4,MT5 ,BDSwiss Mobile App,BDSwiss WebTrader
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Leverage</td>
                    <td>
                        Up to 1:500
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Offices</td>
                    <td>

                        Seychelles.

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Type </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Execution type</td>
                    <td>

                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Hedging</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accepts US Clients</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Phone</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">E-mail</td>
                    <td><a>
                        support@bdswiss.com
                        </a></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Languages</td>
                    <td>
                        <img src="{%static 'webapp/cn.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/en.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/hi.svg'%}" style="width:25px" />

                    </td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Other trading instruments</td>
                    <td>

                        Forex,Cryptocurrencies, Commodities,Shares Indices

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Account Types</td>
                    <td>
                        Classic, VIP, Raw
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Deposits</td>
                    <td>
                        100$
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
{%endblock%}