{%extends 'webapp/index.html'%} {%load static%} {% block page %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 pt-3">
            <h2 class="text-uppercase txt-primary text-center">demat & trading account</h2>
        </div>
    </div>
    <div class="row demat-bg">
        <!-- this is bg of heading with background-image  -->
    </div>

    <div class="section" id="demat-section">
        <div id="dematdiv">
            <div class="demat-img tradebullsimg">
                <img src="{%static 'webapp/tradebulls.jpg'%}" class="imgk" />
                <p class="txt-primary text-center icon-txt">Tradebulls</p>

            </div>
            <div class="demat-img zerodhaimg">
                <img src="{%static 'webapp/Zerodha.jpg'%}" class="imgk" />
                <p class="txt-primary text-center icon-txt">Zerodha</p>


            </div>
            <div class="demat-img fyersimg">
                <img src="{%static 'webapp/Fyers.jpg'%}" class="imgk" />
                <p class="txt-primary text-center icon-txt">Fyers</p>


            </div>
            <div class="demat-img upstoximg">
                <img src="{%static 'webapp/Upstock.jpg'%}" class="imgk" />
                <p class="txt-primary text-center icon-txt">Upstox</p>


            </div>
            <div class="demat-img sharekhanimg">
                <img src="{%static 'webapp/Sharekhan.jpg'%}" class="imgk" />
                <p class="txt-primary text-center icon-txt">ShareKhan</p>


            </div>
            <div class="demat-img pmartimg">
                <a><img src="{%static 'webapp/ProfitMart.jpg'%}" class="imgk" />
                    <p class="txt-primary text-center icon-txt">ProfitMart</p>

                </a>
            </div>

        </div>





    </div>


</div>



<!-- tradebulls content start here -->
<div class="container tradebulls" style="padding:20px;" id="tradebullsk">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <img src="{%static 'webapp/content-logo/tradebulls.png'%}" class="w-50" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12 col-md-12">
            <p class="text-justify">Incepted in 2009, Tradebulls Securities(P) Ltd. is a leading financial firm in India to offer reliable brokerage services and advance wealth management. Having a wide clientele, we offer expert services in Equity, Currency, Commodity Trading,
                Derivatives and more. We are highly proficient in the distribution of Mutual Funds, IPO, Personal Loans & Insurance, Portfolio Management, Online Trading, and Depository Services.</p>
        </div>
    </div>

    <div clas="row">
        <div class="col-lg-12 col-md-12 text-center">
            <a class="btn content-btn" href="https://diy.tradebulls.in/?utm_source=website&utm_sub-source=HP&utm_medium=organic&utm_campaign=initial_Launch&utm_creative=upfronrt&utm_adgroup=&utm_keyword=&utm_device=&utm_gender=&utm_browser=&utm_city=&utm_state=&utm_country=&utm_language=&utm_product"
                target="_blank">Register</a>
        </div>
    </div>

</div>

<!-- tradebulls content end here -->

<!--  zarodha content start here -->
<div class="container zarodha" style="padding:20px;display:none" id="zarodhak">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <img src="{%static 'webapp/content-logo/zerodha.png'%}" class="w-50" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12 col-md-12">
            <p class="text-justify">
                Zerodha has pioneered the discount broking model in India. Now, we are breaking ground with our technology. It started operations on the 15th of August, 2010 with the goal of breaking all barriers that traders and investors face in India in terms of cost,
                support, and technology. We named the company Zerodha, a combination of Zero and "Rodha", the Sanskrit word for barrier. Over 4+ million clients place millions of orders every day through our powerful ecosystem of investment platforms,
                contributing over 15% of all Indian retail trading volumes.
            </p>
        </div>
    </div>

    <div clas="row">
        <div class="col-lg-12 col-md-12 text-center">
            <a class="btn content-btn" href="https://zerodha.com/open-account?c=ZS3145" target="_blank">Register</a>
        </div>
    </div>

</div>

<!-- zarodha content end here -->


<!--  fyers content start here -->
<div class="container fyers" style="padding:20px;display: none;">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <img src="{%static 'webapp/content-logo/fyers.png'%}" class="w-50" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12 col-md-12">
            <p class="text-justify">
                FYERS started to change the way India trades. Over the last few years, we have been able to build a great community of traders/investors who strongly feel the need for change in the capital markets. So far, we are a team of 200 powering 65,000+ customers
                to trade seamlessly. We’re among a handful of stockbrokers in India that can proudly say that we don’t have any conflict of interest with our clients. With each new development, we feel like our journey has just begun.
            </p>
        </div>
    </div>

    <div clas="row">
        <div class="col-lg-12 col-md-12 text-center">
            <a class="btn content-btn" href="https://open-an-account.fyers.in/" target="_blank">Register</a>
        </div>
    </div>

</div>

<!-- fyers content end here -->


<!--  upstock content start here -->
<div class="container upstock" style="padding:20px;display: none;">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <img src="{%static 'webapp/content-logo/upstock.png'%}" class="w-50" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <p class="text-justify">
                Upstox is one of India’s fastest-growing brokers. A fast, reliable and easy-to-use trading platform with paperless account opening. We believe that the quality of the team determines the quality of the product. Hard work, honest effort, and sincerity
                are the traits we value. Here are some of the people working behind the scenes at Upstox.
            </p>
        </div>
    </div>

    <div clas="row">
        <div class="col-lg-12 col-md-12 text-center">
            <a class="btn content-btn" href="https://upstox.com/open-demat-account/" target="_blank">Register</a>
        </div>
    </div>

</div>

<!-- upstock content end here -->

<!--  sharekhan content start here -->
<div class="container sharekhan" style="padding:20px;display: none;">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <img src="{%static 'webapp/content-logo/sharekhan.png'%}" class="w-50" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12 col-md-12">
            <p class="text-justify">
                Discover in Sharekhan how full-service broking helps you stay on track of your financial goals. Get guidance, research, platforms, service and all trading and investment solutions in one place. Don’t prowl alone, create your own TIGER PACK. Refer & Earn
                with Sharekhan, get 15% of every referred friend’s brokerage for 1 year
            </p>
        </div>
    </div>

    <div clas="row">
        <div class="col-lg-12 col-md-12 text-center">
            <a class="btn content-btn" href="https://www.sharekhan.com/open-an-account/beginner-first-step" target="_blank">Register</a>
        </div>
    </div>

</div>

<!-- sharekhan content end here -->


<!--  profitmart content start here -->
<div class="container  pmart" style="padding:20px;display: none;">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <img src="{%static 'webapp/content-logo/pmart.png'%}" class="w-50" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12 col-md-12">
            <p class="text-justify">
                PROFITMART SECURITIES PRIVATE LIMITED(Formerly known as M3Multiple Securities Brokers Pvt. Ltd.) started its operations in 2010. Profitmart is an emerging Broking house in India offering diversified investment options like Equities, Derivatives, Currency,
                Commodities, IPO, Mutual Funds and Real Estate. At Profitmart, we focus on delivering efficient trading software, supported with effective investing tools, which are helpful to maximize your profits.
            </p>
        </div>
    </div>

    <div clas="row">
        <div class="col-lg-12 col-md-12 text-center">
            <a class="btn content-btn" href="https://profitmart.in/" target="_blank">Register</a>
        </div>
    </div>

</div>

<!-- profitmart content end here -->


<script>
    $(document).ready(function() {
        $(".tradebullsimg").click(function() {
            $(".tradebulls").show();
            $(".zerodha").hide();
            $(".fyers").hide();
            $(".upstock").hide();
            $(".sharekhan").hide();
            $(".pmart").hide();


        });
        $(".zerodhaimg").click(function() {
            $("#zarodhak").show();
            $(".tradebulls").hide();
            $(".fyers").hide();
            $(".upstock").hide();
            $(".sharekhan").hide();
            $(".pmart").hide();



        });

        $(".fyersimg").click(function() {
            $(".fyers").show();
            $(".tradebulls").hide();
            $(".upstock").hide();
            $("#zarodhak").hide();
            $(".sharekhan").hide();
            $(".pmart").hide();



        });

        $(".upstoximg").click(function() {
            $(".upstock").show();
            $(".tradebulls").hide();
            $(".zerodha").hide();
            $(".fyers").hide();
            $(".sharekhan").hide();
            $(".pmart").hide();



        });

        $(".sharekhanimg").click(function() {
            $(".sharekhan").show();
            $(".tradebulls").hide();
            $(".zerodha").hide();
            $(".fyers").hide();
            $(".upstock").hide();
            $(".pmart").hide();




        });
        $(".pmartimg").click(function() {
            $(".pmart").show();
            $(".tradebulls").hide();
            $(".zerodha").hide();
            $(".fyers").hide();
            $(".upstock").hide();
            $(".sharekhan").hide();




        });



    });
</script>

{%endblock%}