{%extends 'webapp/index.html'%} {%load static%} {% block page %}

<div class="container pt-3">

    <div class="row">
        <div class="col-lg-6 col-md-6 text-center p-2" style="border: 1px solid #3eabf7;">
            <img src="{%static 'webapp/info-logo/Fpmarkets.png'%}" style="width:150px" />

        </div>
        <div class="col-lg-6 col-md-6 pt-3" style="background-color:#3eabf7">
            <a href="https://www.fpmarkets.com/int/?fpm-affiliate-utm-source=IB&fpm-affiliate-pcode=14312&fpm-affiliate-agt=14312" target="_blank">
                <h4 class="text-center text-white text-uppercase">Register</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered mt-3" style="border-collapse:separate;border-spacing:0 1px;">

            <tbody>
                <tr>
                    <td class="txt-primaryk text-white w-25">Company Name</td>
                    <td>

                        FP Markets

                    </td>
                </tr>
                <tr class="mt-2">
                    <td class="txt-primaryk text-white w-25">Head Office</td>
                    <td>

                        Australia

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">CashBack Rate</td>
                    <td>

                        CPA: $150

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">
                        Year of creation
                    </td>

                    <td>
                        2005

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Regulation</td>
                    <td>


                        ASIC and CYSEC


                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Funding</td>
                    <td>



                        100 USD



                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Spreads</td>
                    <td>



                        From 0.0 pips






                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Trade Size</td>
                    <td>

                        0.01 Lot
                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Financing methods</td>
                    <td></td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Company limitations</td>

                    <td>

                        FP Markets does not accept applications from U.S, Japan or New Zealand residents or residents from any other country or jurisdiction where such distribution or use would be contrary to those local laws or regulations.
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Islamic Accounts</td>
                    <td>

                        Yes

                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accounts for money managers</td>
                    <td>Yes</td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Trading platforms</td>
                    <td>


                        MT4,MT5 ,IRESS


                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Leverage</td>
                    <td>



                        0.388888889



                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Offices</td>
                    <td>




                        Australia




                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Type </td>
                    <td>


                        ECN,DMA


                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Execution type</td>
                    <td>



                        ECN-Pricing - STP-Pricing


                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Hedging</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accepts US Clients</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Phone</td>
                    <td>

                        +61 2 8252 6800
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">E-mail</td>
                    <td><a>

                        support@fpmarkets.com

                        </a></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Languages</td>
                    <td>
                        <!-- <img src="{%static 'webapp/cn.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/en.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/hi.svg'%}" style="width:25px" /> -->

                    </td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Other trading instruments</td>
                    <td>
                        Forex, Metals,Cryptocurrencies ,CFDs , Equities , Indices </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Account Types</td>
                    <td>


                        Standard,Raw,Patinum,Premier


                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Deposits</td>
                    <td>

                        100 $

                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
{%endblock%}