{%extends 'webapp/index.html'%} {%load static%} {% block page %}

<div class="container pt-3">

    <div class="row">
        <div class="col-lg-6 col-md-6 text-center p-2" style="background-color:#0d3c6a;">
            <img src="{%static 'webapp/info-logo/FxPrimus.png'%}" style="width:150px" />

        </div>
        <div class="col-lg-6 col-md-6 pt-3" style="background-color:#f5a640">
            <a href="https://clients.fxprimus.com/en/register?ref=40068853%2Fregulator%3Dvu" target="_blank">
                <h4 class="text-center text-white text-uppercase">Register</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered mt-3" style="border-collapse:separate;border-spacing:0 1px;">

            <tbody>
                <tr>
                    <td class="txt-primaryk text-white w-25">Company Name</td>
                    <td>



                        FXPrimus



                    </td>
                </tr>
                <tr class="mt-2">
                    <td class="txt-primaryk text-white w-25">Head Office</td>
                    <td>


                        Cyprus

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">CashBack Rate</td>
                    <td>



                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">
                        Year of creation
                    </td>

                    <td>
                        2009

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Regulation</td>
                    <td>



                        CySec, VFSC,FSCA



                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Funding</td>
                    <td>




                        500$ (INITIAL), 100$ (SUBSEQUENT)



                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Spreads</td>
                    <td>



                        Tight Spread


                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Trade Size</td>
                    <td>

                        0.01
                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Financing methods</td>
                    <td></td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Company limitations</td>

                    <td>



                        300 Lot per time trading
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Islamic Accounts</td>
                    <td>

                        Yes

                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accounts for money managers</td>
                    <td>Yes</td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Trading platforms</td>
                    <td>


                        MT4



                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Leverage</td>
                    <td>





                        1:1 to 1:500




                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Offices</td>
                    <td>





                        Cyprus




                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Type </td>
                    <td>



                        ECN


                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Execution type</td>
                    <td>





                        Market Execution



                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Hedging</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accepts US Clients</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Phone</td>
                    <td>



                        +27105004213

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">E-mail</td>
                    <td><a>



                        support@fxprimus.com

                        </a></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Languages</td>
                    <td>
                        <!-- <img src="{%static 'webapp/cn.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/en.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/hi.svg'%}" style="width:25px" /> -->

                    </td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Other trading instruments</td>
                    <td>

                        ETFs,CFDs,Commodities,Metals,Stocks,Oil,Gold,Binary Option, Indices

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Account Types</td>
                    <td>




                        Standard,Premium,VIP


                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Deposits</td>
                    <td>


                        100$ ,500$ or currency equivalent

                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
{%endblock%}