{%extends 'webapp/index.html'%} {%load static%} {% block page %}

<div class="container pt-3">

    <div class="row">
        <div class="col-lg-6 col-md-6 text-center p-2" style="background-color:#ea1e1e;">
            <img src="{%static 'webapp/info-logo/FxPro.png'%}" style="width:100px" />

        </div>
        <div class="col-lg-6 col-md-6 pt-3" style="background-color:#1c80f6">
            <a href="https://direct.fxpro.group/en/register/in/gm?_ga=2.156015355.1718965977.1571051160-940311635.1571051160" target="_blank">
                <h4 class="text-center text-white text-uppercase">Register</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered mt-3" style="border-collapse:separate;border-spacing:0 1px;">

            <tbody>
                <tr>
                    <td class="txt-primaryk text-white w-25">Company Name</td>
                    <td>

                        FxPro Financial Services Ltd


                    </td>
                </tr>
                <tr class="mt-2">
                    <td class="txt-primaryk text-white w-25">Head Office</td>
                    <td>

                        Cyprus

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">CashBack Rate</td>
                    <td>

                        4.25 $ Per lot
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">
                        Year of creation
                    </td>

                    <td>
                        2006

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Regulation</td>
                    <td>

                        CYSEC

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Funding</td>
                    <td>


                        100 USD


                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Spreads</td>
                    <td>


                        Spreads from 0 Pips



                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Trade Size</td>
                    <td>
                        0.01
                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Financing methods</td>
                    <td><img src="{%static 'webapp/psp.png'%}" style="width:495px" /></td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Company limitations</td>

                    <td>
                        FxPro Financial Services Limited and FxPro UK Limited do not offer Contracts for Difference to residents of certain jurisdictions such as United States of America and the Islamic Republic of Iran.
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Islamic Accounts</td>
                    <td>

                        Yes

                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accounts for money managers</td>
                    <td>No</td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Trading platforms</td>
                    <td>
                        MT4 , MT5 , MT4 MultiTerminal ,WebTrader
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Leverage</td>
                    <td>

                        Up to 1:500

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Offices</td>
                    <td>



                        Cyprus



                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Type </td>
                    <td>
                        NDD
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Execution type</td>
                    <td>

                        Instant and Market Execution


                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Hedging</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accepts US Clients</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Phone</td>
                    <td>

                        35725969200


                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">E-mail</td>
                    <td><a>


                        info@fxpro.com


                    </a></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Languages</td>
                    <td>
                        <!-- <img src="{%static 'webapp/cn.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/en.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/hi.svg'%}" style="width:25px" /> -->

                    </td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Other trading instruments</td>
                    <td>

                        Forex , CFDs on FX, futures, spot indices, shares, spot metals, spot energies


                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Account Types</td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Deposits</td>
                    <td>

                        100$

                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
{%endblock%}