{%extends 'webapp/index.html'%} {%load static%} {% block page %}

<div class="container pt-3">

    <div class="row">
        <div class="col-lg-6 col-md-6 text-center" style="border:1px solid #f07138">
            <img src="{%static 'webapp/info-logo/fxtm.png'%}" style="width:100px" />

        </div>
        <div class="col-lg-6 col-md-6 pt-3" style="background-color:#f07138">
            <a href="https://www.forextime.com/register/open-account?partner_id=4903645" target="_blank">
                <h4 class="text-center text-dark">Register</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered mt-3" style="border-collapse:separate;border-spacing:0 1px;">

            <tbody>
                <tr>
                    <td class="txt-primaryk text-white w-25">Company Name</td>
                    <td>
                        ForexTime Ltd
                    </td>
                </tr>
                <tr class="mt-2">
                    <td class="txt-primaryk text-white w-25">Head Office</td>
                    <td>
                        United Kingdom
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">CashBack Rate</td>
                    <td>
                        8.5 % Of commission
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">
                        Year of creation
                    </td>
                    <td>2012</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Regulation</td>
                    <td>
                        CySec
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Funding</td>
                    <td>
                        10 USD
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Spreads</td>
                    <td>
                        Spreads are from 0.5 pips
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Trade Size</td>
                    <td>

                        0.01 lot

                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Financing methods</td>
                    <td><img src="{%static 'webapp/psp.png'%}" style="width:495px" /></td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Company limitations</td>
                    <td class="col-lg-10 col-md-10">
                        FXTM does not offer its services to residents of certain jurisdictions such as the USA, Belize, Japan, Iran, British Columbia, Saskatchewan and all the countries belonging in the European Economic Area.
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Islamic Accounts</td>
                    <td>Yes</td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accounts for money managers</td>
                    <td>Yes</td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Trading platforms</td>
                    <td>
                        MT4,MT5
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Leverage</td>
                    <td>
                        0.736111111111111
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Offices</td>
                    <td>

                        United Kingdom
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Type </td>
                    <td>
                        ECN/STP, NDD
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Execution type</td>
                    <td>

                        Instant & Market Execution
                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Hedging</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accepts US Clients</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Phone</td>
                    <td>
                        +44 203 734 10 25
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">E-mail</td>
                    <td><a>
                        info@fxtm.com
                        </a></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Languages</td>
                    <td>
                        <img src="{%static 'webapp/cn.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/en.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/hi.svg'%}" style="width:25px" />

                    </td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Other trading instruments</td>
                    <td>
                        USD ,EURO
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Account Types</td>
                    <td>
                        Standard Account, Cent Account, Stock CFDs Account, Stocks Account, ECN Account, ECN Zero Account, FXTM Pro Account
                    </td>
                    <tr>
                        <td class="txt-primaryk text-white w-25">Minimum Deposits</td>
                        <td>10 $</td>
                    </tr>


            </tbody>
        </table>
    </div>
</div>
{%endblock%}