{%extends 'webapp/index.html'%} {%load static%} {% block page %}

<div class="container pt-3">

    <div class="row">
        <div class="col-lg-6 col-md-6 text-center p-2" style="background-color: black;">
            <img src="{%static 'webapp/info-logo/HotForex.png'%}" style="width:150px" />

        </div>
        <div class="col-lg-6 col-md-6 pt-3 p-2" style="background-color:#c52d29">
            <a href="https://www.hotforex.com/sv/en/account-types/new-live-account.html" target="_blank">
                <h4 class="text-center text-white text-uppercase">Register</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered mt-3" style="border-collapse:separate;border-spacing:0 1px;">

            <tbody>
                <tr>
                    <td class="txt-primaryk text-white w-25">Company Name</td>
                    <td>

                        HF Markets (SV) LTD

                    </td>
                </tr>
                <tr class="mt-2">
                    <td class="txt-primaryk text-white w-25">Head Office</td>
                    <td>

                        Cyprus

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">CashBack Rate</td>
                    <td>
                        5.1 $ Per lot </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">
                        Year of creation
                    </td>

                    <td>
                        2010

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Regulation</td>
                    <td>
                        HF Markets (SV) Ltd is registered in St. Vincent & the Grenadine as an International Broker Company with the registration number 22747 IBC 2015.
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Funding</td>
                    <td>

                        5

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Spreads</td>
                    <td>


                        Spreads from 0 Pips


                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Trade Size</td>
                    <td>
                        0.01
                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Financing methods</td>
                    <td><img src="{%static 'webapp/psp.png'%}" style="width:495px" /></td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Company limitations</td>

                    <td>
                        HotForex does not accept clients from the U.S., Canada, Belgium, Iran, Sudan, Syria, North Korea and Japan.

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Islamic Accounts</td>
                    <td>

                        Yes

                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accounts for money managers</td>
                    <td>Yes</td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Trading platforms</td>
                    <td>

                        MT4 ,WEB
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Leverage</td>
                    <td>


                        0.736111111

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Offices</td>
                    <td>



                        Cyprus



                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Type </td>
                    <td>

                        STP /ECN
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Execution type</td>
                    <td>

                        Instant & Market execution

                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Hedging</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accepts US Clients</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Phone</td>
                    <td>

                        -399832

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">E-mail</td>
                    <td><a>


                        support@hotforex.com

                    </a></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Languages</td>
                    <td>
                        <!-- <img src="{%static 'webapp/cn.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/en.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/hi.svg'%}" style="width:25px" /> -->

                    </td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Other trading instruments</td>
                    <td>


                        Forex, Metal, CFD


                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Account Types</td>
                    <td>

                        MICRO,PREMIUM,ZERO SPREAD,AUTO,PAMM (PREMIUM),HFCOPY
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Deposits</td>
                    <td>
                        5 $
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>
{%endblock%}