{%extends 'webapp/index.html'%} {%load static%} {% block page %}

<div class="container pt-3">

    <div class="row">
        <div class="col-lg-6 col-md-6 text-center" style="background-color: #fd9f11;">
            <img src="{%static 'webapp/info-logo/Royal.png'%}" style="width:100px" />

        </div>
        <div class="col-lg-6 col-md-6 pt-2" style="background-color:#73077f">
            <a href="https://reg.oneroyal.com/au/?ref=994&bid=OTk0&gaconnectorId=7454119f-636f-6cf2-a17c-c8a28dfa13de" target="_blank">
                <h4 class="text-center text-white">Register</h4>
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-bordered mt-3" style="border-collapse:separate;border-spacing:0 1px;">

            <tbody>
                <tr>
                    <td class="txt-primaryk text-white w-25">Company Name</td>
                    <td>

                        Royal financial Trading Pty Ltd.
                    </td>
                </tr>
                <tr class="mt-2">
                    <td class="txt-primaryk text-white w-25">Head Office</td>
                    <td>

                        Sydney, Australia
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">CashBack Rate</td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">
                        Year of creation
                    </td>
                    <td>2006</td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Regulation</td>
                    <td>

                        Royal Financial Trading Pty Ltd. is licensed and regulated by ASIC & - and License number AFSL 420268 and located in Sydney, Australia.

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Funding</td>
                    <td>
                        0
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Spreads</td>
                    <td>

                        1.4 pip spread

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Minimum Trade Size</td>
                    <td>

                        0.01 lot

                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Financing methods</td>
                    <td></td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Company limitations</td>
                    <td class="col-lg-10 col-md-10">
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Islamic Accounts</td>
                    <td></td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accounts for money managers</td>
                    <td></td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Trading platforms</td>
                    <td>

                        MT4 ,WEB trader, Multi Terminal

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Leverage</td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Offices</td>
                    <td>


                        Australia

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Type </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Execution type</td>
                    <td>

                        Instant & Market Execution
                    </td>

                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Hedging</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Accepts US Clients</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Phone</td>
                    <td>

                        61282845100

                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">E-mail</td>
                    <td><a>

                        hello@oneroyal.com
                    </a></td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Languages</td>
                    <td>
                        <!-- <img src="{%static 'webapp/cn.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/en.svg'%}" style="width:25px" />
                        <img src="{%static 'webapp/hi.svg'%}" style="width:25px" /> -->

                    </td>
                </tr>

                <tr>
                    <td class="txt-primaryk text-white w-25">Other trading instruments</td>
                    <td>

                        Forex,Metal,CFD,Indices , oil, shares, crypto
                    </td>
                </tr>
                <tr>
                    <td class="txt-primaryk text-white w-25">Account Types</td>
                    <td>

                        Classic, Premium, VIP
                    </td>
                    <tr>
                        <td class="txt-primaryk text-white w-25">Minimum Deposits</td>
                        <td>0</td>
                    </tr>


            </tbody>
        </table>
    </div>
</div>
{%endblock%}